@{
    Layout = "~/Areas/CleanBlog/Views/Shared/_CleanBlogLayout.cshtml";
}

<div class="row">
    <div class="col-sm-3">
        @if (User.Identity.IsAuthenticated)
        {
            <div class="panel panel-default">
                <ul class="nav nav-stacked">
                    <li>@Html.ActionLink("My user account", "Index", "Home")</li>
                    <li>@Html.ActionLink("Logout", "Index", "Logout")</li>
                </ul>
            </div>

            <div class="panel panel-default">
                <ul class="nav nav-stacked">
                    @*<li>@Html.ActionLink("Change username", "Index", "ChangeUsername")</li>*@
                    <li>@Html.ActionLink("Change email", "Index", "ChangeEmail")</li>
                    <li>@Html.ActionLink("Change password", "Index", "ChangePassword")</li>
                    @*<li>@Html.ActionLink("Change password reset secret", "Index", "ChangeSecretQuestion")</li>*@
                    @*<li>@Html.ActionLink("Change mobile number", "Index", "ChangeMobile")</li>*@
                    @*<li>@Html.ActionLink("Configure certificates", "Index", "Certificate")</li>*@
                    @*<li>@Html.ActionLink("Configure 2FA", "Index", "TwoFactorAuth")</li>*@
                    <li>@Html.ActionLink("Manage linked accounts", "Manage", "LinkedAccount")</li>
                </ul>
            </div>

            <div class="panel panel-default">
                <ul class="nav nav-stacked">
                    <li>@Html.ActionLink("Close my account", "Index", "CloseAccount")</li>
                    @*<li>@Html.ActionLink("Verify my email account", "Verify", "Register")</li>*@
                </ul>
            </div>
        }
        else
        {
            <div class="panel panel-default">
                <ul class="nav nav-stacked">
                    <li>@Html.ActionLink("My user account", "Index", "Home")</li>
                    <li>@Html.ActionLink("Login", "Index", "Login")</li>
                    <li>@Html.ActionLink("Register", "Index", "Register")</li>
                    @*<li>@Html.ActionLink("Login with external provider", "Index", "LinkedAccount")</li>*@
                    @*<li>@Html.ActionLink("Email username", "Index", "SendUsernameReminder")</li>*@
                    <li>@Html.ActionLink("Reset password", "Index", "PasswordReset")</li>
                </ul>
            </div>
        }
    </div>
    <div class="col-sm-9">
        @RenderBody()
    </div>
</div>
