@model BrockAllen.MembershipReboot.Mvc.Areas.UserAccount.Models.TwoFactorAuthInputModel
@{
    Page.Title = "Two Factor Code Authentication";
}

<p>To login enter the SMS code sent to your mobile phone.</p>

@using (Html.BeginForm("TwoFactorAuthCodeLogin", "Login"))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.ReturnUrl)
    <p>
        @Html.LabelFor(x => x.Code)
        @Html.EditorFor(x => x.Code)
    </p>
    <p>
        <button name="button" value="signin" class="btn btn-primary">Login</button>
        <button name="button" value="resend" class="btn btn-default">Resend Code</button>
    </p>
}
