@model BrockAllen.MembershipReboot.Mvc.Areas.UserAccount.Models.ChangePasswordInputModel
@{
    Page.Title = "Change Password";
}

<h1>@Page.Title</h1>

@using (Html.BeginForm())
{
    @Html.ValidationSummary("Error")
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>@Page.Title</legend>

        @Html.EditorForModel()

        <div class="buttons">
            <button>Change Password</button>
        </div>
    </fieldset>
}
