<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Page.Title ≡ Clean Blog Layout Example (a.k.a. customize me!)</title>
    <link href="~/static/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/static/bootstrap-3.3.4/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/static/clean-blog-2.0.0/css/clean-blog.min.css" rel="stylesheet" />

    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="~/static/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet" />

    @* HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        WARNING: Respond.js doesn't work if you view the page via file:// *@
    <!--[if lt IE 9]>
    <script src="~/static/html5shiv-3.7.3/html5shiv.min.js"></script>
    <script src="~/static/respond-1.4.2/respond.min.js"></script>
    <![endif]-->
    @* IE9 and below have some pretty bad bugs in their implementation of defer such that the execution order isn’t guarenteed. If you need to support <= IE9 I recommend not using defer at all and include your scripts with no attribute if the execution order matters. See https://github.com/h5bp/lazyweb-requests/issues/42 *@

    <script src="~/scripts/jquery-2.1.4.min.js" defer></script>
    <script src="~/scripts/jquery.validate.min.js" defer></script>
    <script src="~/scripts/jquery.validate.unobtrusive.min.js" defer></script>
    <script src="~/static/bootstrap-3.3.4/js/bootstrap.min.js" defer></script>
    <script src="~/static/clean-blog-2.0.0/js/clean-blog.min.js" defer></script>
</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Example")">Clean Blog Example</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="@Url.Action("Index", "Example")">Home</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Portfolio", "Example")">Portfolio</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Contact", "Example")">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your wide, 398px tall background image for this header on the line below. -->
    <header class="intro-header" style="background: #0085a1; background-image: @(Page.TitleBg ?? "linear-gradient(to bottom, #0085a1 0%,#0085a1 97%,#007589 100%)")">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>@Page.Title</h1>
                        @if (Page.Subtitle != null)
                        {
                            <hr class="small">
                            <span class="subheading">@Page.Subtitle</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        @RenderBody()
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Clean Blog Example @DateTime.Now.Year</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>